@page
@model LibrarySystem.Pages.Student.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.FatherName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.FatherName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Mobile)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Mobile)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Author.ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student.Book)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.Book.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Student.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
